#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;      // 500
            delay-ms = <0>;                   //   10
        };
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    combos {
        compatible = "zmk,combos";

        nav_layer_toggle {
            bindings = <&to 1>;
            key-positions = <57 59>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC           &kp N1          &kp N2          &kp N3        &kp N4            &kp N5         &kp UP_ARROW     &kp N6       &kp N7             &kp N8           &kp N9             &kp N0              &kp BACKSPACE
&kp TAB           &kp Q           &kp W           &kp E         &kp R             &kp T          &kp DOWN_ARROW   &kp Y        &kp U              &kp I            &kp O              &kp P               &kp NON_US_BACKSLASH
&mt LCTRL ESCAPE  &kp A           &kp S           &kp D         &kp F             &kp G          &kp LEFT_ARROW   &kp H        &kp J              &kp K            &kp L              &kp SEMI            &kp ENTER
&kp LSHFT         &mt LEFT_GUI Z  &mt LEFT_ALT X  &mt LCTRL C   &mt LEFT_SHIFT V  &kp B          &kp RIGHT_ARROW  &kp N        &mt RIGHT_SHIFT M  &mt RCTRL COMMA  &mt RIGHT_ALT DOT  &mt RIGHT_GUI FSLH  &kp SQT
&trans            &kp LCTRL       &kp LEFT_GUI    &kp LEFT_ALT  &mo 2             &lt 1 SPACE    &kp ENTER        &lt 1 ENTER  &mo 3              &mo 4            &trans             &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "base";
        };

        nav {
            bindings = <
&trans      &trans        &trans          &trans          &trans           &trans       &mmv MOVE_UP     &trans         &trans      &trans        &trans     &trans            &kp DELETE
&trans      &kp TILDE     &mkp RCLK       &mmv MOVE_UP    &mkp LCLK        &mkp MCLK    &mmv MOVE_DOWN   &kp HOME       &kp PG_DN   &kp PG_DN     &kp END    &kp MINUS         &kp EQUAL
&kp ESCAPE  &kp GRAVE     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB4     &mmv MOVE_LEFT   &kp LEFT       &kp DOWN    &kp UP_ARROW  &kp RIGHT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans      &kp LEFT_GUI  &kp LEFT_ALT    &kp LCTRL       &kp LEFT_SHIFT   &mkp MB5     &mmv MOVE_RIGHT  &kp BACKSPACE  &kp DELETE  &trans        &trans     &trans            &trans
&kp C_MUTE  &trans        &trans          &trans          &trans           &trans       &mkp LCLK        &trans         &trans      &trans        &trans     &trans
            >;

            display-name = "base";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOLUME_DOWN>;
        };

        num {
            bindings = <
&trans  &trans        &trans        &trans            &trans          &trans       &trans  &trans                 &trans        &trans        &trans        &trans     &trans
&kp F1  &kp F2        &kp F3        &kp F4            &kp F5          &kp F6       &trans  &kp LEFT_PARENTHESIS   &kp NUMBER_7  &kp N8        &kp NUMBER_9  &kp PLUS   &kp ASTERISK
&kp F7  &kp F8        &kp F9        &kp F10           &kp F11         &kp F12      &trans  &kp RIGHT_PARENTHESIS  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS  &kp SLASH
&trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp PIPE     &trans  &kp NUMBER_0           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp COMMA  &kp EQUAL
&trans  &trans        &trans        &trans            &trans          &kp SPACE    &trans  &kp ENTER              &trans        &trans        &trans        &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        sym {
            bindings = <
&trans  &trans        &trans        &trans         &trans            &trans            &trans  &trans                &trans                &trans                 &trans           &trans     &trans
&trans  &kp TILDE     &kp GRAVE     &kp LESS_THAN  &kp GREATER_THAN  &kp CARET         &trans  &kp DOUBLE_QUOTES     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp EXCLAMATION  &kp PLUS   &kp ASTERISK
&trans  &kp AT_SIGN   &kp HASH      &kp DOLLAR     &kp PERCENT       &kp AMPERSAND     &trans  &kp SQT               &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp QUESTION     &kp MINUS  &kp SLASH
&trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL      &kp LEFT_SHIFT    &kp UNDERSCORE    &trans  &kp NON_US_BACKSLASH  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERIOD       &kp COMMA  &kp EQUAL
&trans  &trans        &trans        &trans         &trans            &trans            &trans  &trans                &trans                &trans                 &trans           &trans
            >;
        };

        bluetooth {
            bindings = <
&trans          &trans           &trans           &trans           &trans           &trans             &trans  &trans          &trans  &trans  &trans  &trans  &trans
&out OUT_BLE    &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4       &trans  &kp SCROLLLOCK  &trans  &trans  &trans  &trans  &trans
&out OUT_USB    &rgb_ug RGB_ON   &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_EFF    &trans  &trans          &trans  &trans  &trans  &trans  &trans
&bt BT_CLR_ALL  &rgb_ug RGB_OFF  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_EFR    &trans  &trans          &trans  &trans  &trans  &trans  &bootloader
&trans          &trans           &trans           &trans           &trans           &trans             &trans  &trans          &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp 0 0>;
        };

        game {
            display-name = "base";
            bindings = <
&kp ESC    &kp N1          &kp N2          &kp N3        &kp N4            &kp N5         &kp UP_ARROW     &kp N6       &kp N7             &kp N8           &kp N9             &kp N0              &kp BACKSPACE
&kp TAB    &kp Q           &kp W           &kp E         &kp R             &kp T          &kp DOWN_ARROW   &kp Y        &kp U              &kp I            &kp O              &kp P               &kp NON_US_BACKSLASH
&kp LCTRL  &kp A           &kp S           &kp D         &kp F             &kp G          &kp LEFT_ARROW   &kp H        &kp J              &kp K            &kp L              &kp SEMI            &kp ENTER
&kp LSHFT  &mt LEFT_GUI Z  &mt LEFT_ALT X  &mt LCTRL C   &mt LEFT_SHIFT V  &kp B          &kp RIGHT_ARROW  &kp N        &mt RIGHT_SHIFT M  &mt RCTRL COMMA  &mt RIGHT_ALT DOT  &mt RIGHT_GUI FSLH  &kp SQT
&trans     &kp LCTRL       &kp LEFT_GUI    &kp LEFT_ALT  &mo 2             &lt 1 SPACE    &kp ENTER        &lt 1 ENTER  &mo 3              &mo 4            &trans             &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
