#define ZMK_POINTING_DEFAULT_MOVE_VAL 400  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <300>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&sl { release-after-ms = <3000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    vertical_scroll_encoder: vertical_scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_RIGHT>, <&msc SCRL_LEFT>;

        tap-ms = <100>;
    };

    hm: hm {
        compatible = "zmk,behavior-hold-tap";
        label = "HM";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "balanced";
        quick-tap-ms = <150>;
    };

    hk: hk {
        compatible = "zmk,behavior-hold-tap";
        label = "HK";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        flavor = "balanced";
        quick-tap-ms = <150>;
    };

    htls: htls {
        compatible = "zmk,behavior-hold-tap";
        label = "HTLS";
        bindings = <&mo>, <&sl>;

        #binding-cells = <2>;
        tapping-term-ms = <500>;
    };

    htlg: htlg {
        compatible = "zmk,behavior-hold-tap";
        label = "HTLG";
        bindings = <&mo>, <&tog>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
    };

    tdcaps: tdcaps {
        compatible = "zmk,behavior-tap-dance";
        label = "TDCAPS";
        #binding-cells = <0>;
        bindings = <&caps_word>, <&kp CAPSLOCK>;

        tapping-term-ms = <300>;
    };

    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&none                     &none           &none           &none        &kp CAPSLOCK      &caps_word     &mmv MOVE_UP     &none        &none              &none                    &none              &none                &none
&kp TAB                   &kp Q           &kp W           &kp E        &kp R             &kp T          &mmv MOVE_DOWN   &kp Y        &kp U              &kp I                    &kp O              &kp P                &kp BACKSPACE
&hk LCTRL ESC             &kp A           &kp S           &kp D        &kp F             &kp G          &mmv MOVE_LEFT   &kp H        &kp J              &kp K                    &kp L              &kp SEMI             &kp ENTER
&mt LEFT_SHIFT LG(SPACE)  &hk LEFT_GUI Z  &hk LEFT_ALT X  &hk LCTRL C  &hk LEFT_SHIFT V  &kp B          &mmv MOVE_RIGHT  &kp N        &hk RIGHT_SHIFT M  &hk RIGHT_CONTROL COMMA  &hk RIGHT_ALT DOT  &hk RIGHT_GUI SLASH  &kp BACKSLASH
&kp C_MUTE                &mkp LCLK       &mkp RCLK       &htls 4 4    &htls 3 3         &hm 1 SPACE    &mkp MB1         &hm 1 SPACE  &htlg 3 3          &htls 4 4                &none              &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "base";
            label = "base";
        };

        nav {
            bindings = <
&none                  &none         &none           &none             &none           &none                &msc SCRL_UP     &none           &none           &none         &none      &none  &none
&none                  &none         &kp C_PREVIOUS  &kp C_PLAY_PAUSE  &kp C_NEXT      &kp C_VOLUME_UP      &msc SCRL_DOWN   &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END    &none  &kp DELETE
&tdcaps                &none         &none           &none             &none           &kp C_VOLUME_DOWN    &msc SCRL_LEFT   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &none  &kp C_BRI_INC
&htlg 2 2              &kp LEFT_GUI  &kp LEFT_ALT    &kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp C_MUTE           &msc SCRL_RIGHT  &none           &none           &none         &none      &none  &kp C_BRI_DEC
&kp C_BRIGHTNESS_AUTO  &none         &none           &none             &none           &htlg 2 2            &mkp RCLK        &htlg 2 2       &none           &none         &none      &none
            >;

            display-name = "nav";
            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
            label = "nav";
        };

        mouse {
            bindings = <
&trans  &trans        &trans        &trans            &trans          &trans       &trans  &trans          &trans          &trans        &trans           &trans     &trans
&trans  &trans        &trans        &trans            &trans          &trans       &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans     &trans
&trans  &mkp MB4      &mkp MB5      &mkp RCLK         &mkp LCLK       &mkp MCLK    &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &mkp RCLK  &trans
&trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans       &trans  &mkp MB4        &mkp MB5        &none         &none            &mkp MCLK  &trans
&trans  &trans        &trans        &trans            &none           &tog 2       &trans  &tog 2          &mkp LCLK       &mkp RCLK     &trans           &trans
            >;

            label = "mouse";
        };

        num {
            bindings = <
&none   &none         &none         &none             &none           &none        &none  &none          &none                     &none                       &none                   &none              &none
&kp F7  &kp F8        &kp F9        &kp F10           &kp F11         &kp F12      &none  &kp BACKSPACE  &kp NUMBER_7              &kp NUMBER_8                &kp NUMBER_9            &kp PLUS           &kp ASTERISK
&kp F1  &kp F2        &kp F3        &kp F4            &kp F5          &kp F6       &none  &none          &kp NUMBER_4              &kp NUMBER_5                &kp NUMBER_6            &kp MINUS          &kp FSLH
&none   &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &none        &none  &kp COMMA      &hk RIGHT_SHIFT NUMBER_1  &hk RIGHT_CONTROL NUMBER_2  &hk RIGHT_ALT NUMBER_3  &hk RIGHT_GUI DOT  &kp EQUAL
&none   &none         &none         &none             &tog 3          &kp SPACE    &none  &kp ENTER      &tog 3                    &kp NUMBER_0                &none                   &none
            >;

            display-name = "num";
            label = "num";
            sensor-bindings = <&scroll_encoder>;
        };

        sym {
            bindings = <
&trans  &trans                    &trans                 &trans                 &trans                &trans            &trans  &trans             &trans                      &trans                         &trans             &trans               &trans
&trans  &kp GRAVE                 &kp TILDE              &kp LESS_THAN          &kp GREATER_THAN      &kp CARET         &trans  &kp SQT            &kp LEFT_BRACKET            &kp RIGHT_BRACKET              &none              &kp PLUS             &kp ASTERISK
&trans  &kp AT                    &kp HASH               &kp DOLLAR             &kp PERCENT           &kp AMPERSAND     &trans  &kp DOUBLE_QUOTES  &kp LEFT_PARENTHESIS        &kp RIGHT_PARENTHESIS          &none              &kp MINUS            &kp FSLH
&trans  &hk LEFT_GUI EXCLAMATION  &hk LEFT_ALT QUESTION  &hk LEFT_CONTROL PIPE  &hk LEFT_SHIFT COLON  &kp UNDERSCORE    &trans  &kp PERIOD         &hk RIGHT_SHIFT LEFT_BRACE  &hk RIGHT_CONTROL RIGHT_BRACE  &hk RIGHT_ALT DOT  &hk RIGHT_GUI COMMA  &kp EQUAL
&trans  &trans                    &trans                 &htls 12 12            &trans                &trans            &trans  &trans             &trans                      &htls 12 12                    &trans             &trans
            >;

            display-name = "sym";
            label = "sym";
            sensor-bindings = <&vertical_scroll_encoder>;
        };

        game {
            bindings = <
&kp LEFT_ARROW    &kp DOWN   &kp UP  &kp RIGHT     &none      &kp BACKSPACE    &mmv MOVE_UP     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp F5
&kp TAB           &kp Q      &kp W   &kp E         &kp R      &kp T            &mmv MOVE_DOWN   &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS     &kp EQUAL
&kp LEFT_CONTROL  &kp A      &kp S   &kp D         &kp F      &kp G            &mmv MOVE_LEFT   &kp G         &kp T         &kp R         &kp E         &kp UP        &kp ENTER
&kp LEFT_SHIFT    &kp Z      &kp X   &kp C         &kp V      &kp B            &mmv MOVE_RIGHT  &kp V         &kp B         &kp Z         &kp X         &kp DOWN      &kp ESCAPE
&kp C_MUTE        &kp EQUAL  &mo 8   &kp LEFT_ALT  &kp SPACE  &htls 7 7        &mkp RCLK        &mkp LCLK     &kp SPACE     &mo 8         &none         &none
            >;

            display-name = "game";
            label = "game";
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        race {
            label = "race";
            display-name = "race";
            bindings = <
&kp LEFT_ARROW    &kp DOWN   &kp UP  &kp RIGHT     &none      &kp BACKSPACE    &mmv MOVE_UP     &none          &none           &none           &none            &none          &none
&kp TAB           &kp Q      &kp W   &kp E         &kp R      &kp T            &mmv MOVE_DOWN   &kp PAGE_UP    &kp HOME        &kp UP_ARROW    &kp END          &kp BACKSPACE  &kp F5
&kp LEFT_CONTROL  &kp A      &kp S   &kp D         &kp F      &kp G            &mmv MOVE_LEFT   &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp DELETE     &kp ENTER
&kp LEFT_SHIFT    &kp Z      &kp X   &kp C         &kp V      &kp B            &mmv MOVE_RIGHT  &kp M          &kp H           &kp L           &none            &none          &kp ESCAPE
&kp C_MUTE        &kp EQUAL  &mo 8   &kp LEFT_ALT  &kp SPACE  &htls 7 7        &mkp RCLK        &mkp LCLK      &kp SPACE       &mo 8           &none            &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        game2 {
            bindings = <
&none      &none         &none         &none         &none         &none           &none  &trans  &trans  &trans  &trans  &trans  &trans
&kp GRAVE  &trans        &trans        &trans        &kp NUMBER_1  &kp NUMBER_2    &none  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans        &trans        &trans        &kp NUMBER_3  &kp NUMBER_4    &none  &trans  &trans  &trans  &trans  &trans  &trans
&htls 8 8  &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_5  &kp NUMBER_6    &none  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &kp NUMBER_9  &kp NUMBER_0  &trans        &trans        &none           &none  &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "game2";
            label = "game2";
        };

        game3 {
            bindings = <
&none       &none  &none  &none        &none  &none            &none  &none           &none           &none         &none            &none  &none
&kp F5      &kp Y  &kp U  &kp I        &kp O  &kp P            &none  &none           &none           &none         &none            &none  &none
&kp ESCAPE  &kp H  &kp J  &kp K        &kp L  &kp ENTER        &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none  &none
&none       &kp N  &kp M  &none        &none  &kp BACKSPACE    &none  &none           &none           &none         &none            &none  &to 0
&none       &none  &none  &htls 12 12  &none  &none            &none  &none           &none           &htls 12 12   &none            &none
            >;

            display-name = "game3";
            label = "game3";
        };

        graph {
            bindings = <
&none      &none  &none  &none        &none     &none        &none  &none  &none  &none      &none    &none          &none
&kp TAB    &kp Q  &kp W  &kp E        &kp R     &kp T        &none  &kp Y  &kp U  &kp I      &kp O    &kp P          &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D        &kp F     &kp G        &none  &kp H  &kp J  &kp K      &kp L    &kp SEMICOLON  &kp ENTER
&kp LSHFT  &kp Z  &kp X  &kp C        &kp V     &hm 11 B     &none  &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH       &kp BSLH
&none      &none  &none  &htls 10 10  &kp LALT  &kp SPACE    &none  &none  &none  &mo 10     &none    &none
            >;

            display-name = "graph";
            label = "graph";
        };

        graph2 {
            bindings = <
&none                          &none  &none  &none        &none       &none        &none  &none  &none  &none        &none  &none  &none
&kp ESC                        &kp Y  &kp U  &kp I        &kp O       &kp P        &none  &none  &none  &none        &none  &none  &none
&hk LEFT_CONTROL LEFT_BRACKET  &kp H  &kp J  &kp K        &kp L       &kp RBKT     &none  &none  &none  &none        &none  &none  &none
&kp LSHFT                      &kp N  &kp M  &kp COMMA    &kp PERIOD  &kp SLASH    &none  &none  &none  &none        &none  &none  &none
&none                          &none  &none  &htls 12 12  &kp LALT    &kp ENTER    &none  &none  &none  &htls 12 12  &none  &none
            >;

            display-name = "graph2";
            label = "graph2";
        };

        graph3 {
            bindings = <
&trans     &trans     &trans     &trans    &trans    &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp GRAVE  &kp N1     &kp N2     &kp N3    &kp N4    &kp N5    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp LCTRL  &kp N6     &kp N7     &kp N8    &kp N9    &kp N0    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp LSHFT  &kp MINUS  &kp EQUAL  &kp SEMI  &kp APOS  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans     &trans     &trans    &trans    &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "graph3";
        };

        func {
            bindings = <
&none         &none            &none            &none            &none         &none           &none  &none  &none  &none  &none  &none  &none
&out OUT_BLE  &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3  &bt BT_SEL 4    &none  &none  &none  &none  &none  &none  &bt BT_CLR
&out OUT_USB  &rgb_ug RGB_TOG  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &none         &none           &none  &none  &none  &none  &none  &none  &none
&bootloader   &bl BL_TOG       &none            &none            &none         &none           &none  &to 0  &to 5  &to 9  &to 6  &none  &bootloader
&none         &none            &none            &none            &none         &none           &none  &none  &none  &none  &none  &none
            >;

            display-name = "func";
            label = "func";
        };
    };
};
